@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-brand-primary text-gray-100;
  }
}

@layer utilities {
  /* Restore list styling only inside article content */
  .article-content ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  .article-content ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
  }

  input, textarea {
    @apply text-slate-800 placeholder-slate-400;
  }


}
